

/*************************************************************************/

/*** HOME PAGE ***/

a{
	text-decoration: none;
}
#home_box{
	min-height: 400px;
	width: 960px;
	margin: 45px auto;
}

#home-logo{
	width: 960px;
	height: 150px;
	text-align: center;
	/*background-color: pink;*/
	margin: 50px auto;
}


/*** sub nav ***/
#home-subnav{
	width: 960px;
}

#home-subnav > a > div,
#home-subnav > div{
	width: 310px;
	height: 200px;
	margin-bottom: 80px;
	color: white;
	float: left;
	display: inline-block;
}
#home-about{ background-color: #ff6666}
#home-trad1{ 
	background-color: #fbb03b;
	margin: auto 15px;
}
#home-trad2{ background-color: #0099ff}

#home-about:hover,
#home-subnav > div:hover{
	background-color: #444444;
	-webkit-transition-property: background-color; 
	-webkit-transition-duration: 0.6s;
}
#home-subnav > a:hover > div > h2,
#home-subnav > div:hover .home-subtrad:hover > a,
.home-subtradnav > ul > li:hover > a{
	color: #fbb03b;
}
.home-subtrad{
	position: absolute;
	z-index: 2;
}

.home-subtradnav{
	height: 200px;
	z-index: 1;
	margin-left: 180px;
	margin-right: 20px;
}

.home-subtradnav li{
	display: block;
	float: right;
	clear: right;
	margin: 5px;
	font-size: 15px;
}

#home-subnav > a, .home-subtrad > a{ color: white;}
.home-subtradnav a{ color: #f8f8f8;}

#home-subtradnav1{
	/*background-color:grey;*/
	height: 120px;
	padding-top: 38px;
	padding-bottom: 38px;
}

#home-about h2{
	text-align: center;
	margin: 75px auto;
}
.home-trad h2{ 
	text-align:center;
	margin: 60px 40px; }




/*** pics now ***/


.homeqtr_pics{
	width: 960px;
	min-height: 800px;
	text-align:center;
	float: left;
	margin: auto;
}

#home_subtitle{
	width: 260px;
	height: 130px;
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #33cccc;
	color: white;
}
#home_subtitle h2{
	text-align: center;
	margin-top: auto;
}

.homepic_ctnr{
	display: inline-block;
	float: left;
	position: relative;
	margin-bottom: 7px;
}
.homepic_title p{
	color: white;
	font-size: 21px;
	font-weight: bold;
}
.homepic_date{
	font-size: 15px;
	font-weight: normal;
}
.homepic_title{
	float: left;
	position: absolute;
	z-index: 2;
	background-color: rgba(50,50,50,0.7);
}

.homepic_ctnr:hover >a > .homepic_title{
	background-color: #fbb03b;
	-webkit-transition-property: background-color; 
	-webkit-transition-duration: 0.6s;
}

.homepic{
	float:left;
	z-index: 1;
}

/*************************************************************************/
/*** pictures & text ONLY - on the homepage ***/

.homepic img{ border-radius: 0}

#homepic1 img{
	width: 690px; 
	height: 310px;
}
#homepic_title1{
	width: 690px;
	height: 50px;
	margin-top: 250px;
}

.homepic_title p{ -webkit-margin-before: 14px;}

#homepic_ctnr3, 
#homepic_ctnr5,
#homepic_ctnr4{ margin-right: 10px;}

#homepic3 img{
	width: 340px; 
	height: 190px;
}
#homepic_title3{
	width: 340px;
	height: 50px;
	margin-top: 130px;
}

#homepic5 img{
	width: 300px; 
	height: 190px;
}
#homepic_title5{
	width: 300px;
	height: 50px;
	margin-top: 130px;
}

#homepic6 img{
	width: 300px; 
	height: 190px;
}
#homepic_title6{
	width: 300px;
	height: 50px;
	margin-top: 130px;
}

#homepic2 img{
	width: 460px; 
	height: 300px;
}
#homepic_title2{
	width: 460px;
	height: 50px;
	margin-top: 240px;
}

#homepic4 img{
	width: 490px; 
	height: 300px;
}
#homepic_title4{
	width: 490px;
	height: 50px;
	margin-top: 240px;
}
#homepic_ctnr3:hover >a > .homepic_title{
	background-color: #b00606;
}

#homepic_ctnr4:hover >a > .homepic_title{
	background-color: #006633;
}

#homepic_ctnr5:hover >a > .homepic_title{
	background-color: #009899;
}



/*** for alternative pages ***/
#home_pics_container{
	width: 960px;
}

.home_pics,
#home_pics2{
	width: 100%;
	text-align:center;
	float: left;
	margin: auto;
	border-radius: 10px;
}

#home_box ul{
	margin-top: 5px;
	margin-bottom: 12px;
}
.view-more{
	width: 908px;
	display:  block;
	font-size: 13px;
	border-radius: 0px;

}

.view-more > a > p{
	color: black;
	margin: auto;
	padding: 3px 5px;
	border-bottom: 1px solid #999999;
}

.view-more a:hover > p,
.view-more a.selected > p{
	color:#CC3232;
}


ul.qtr_pics .view-more.selected p,
ul.qtr_pics .view-more.selected a{
	display: none;
}

