.event-box{
	width: 930px;
	min-height: 500px;
	/*box-shadow: 0 0 7px #0099CC;*/
	/*border-radius: 20px;*/
	float:left;
	margin: 0 15px;
	display: block;
}


.event-pictxt img{
	width: 930px;
	height: 500px;
	float:left;
	z-index: 1;
}

.event-txt{
	width: 250px;
	height: 440px;
	margin-left: 620px;
	padding: 30px 10px 30px 20px;
	/*float: right;*/
	position: absolute;
	z-index: 2;
	background-color: rgba(255,255,245,0.8);
}

.event-box a:hover,
.event-title a:hover p{
	color:#CC3232;
}

.event-content a{
	color:blue;
}
.event-content p{
	font-size: 15px;
}	

.event-title p{
	-webkit-margin-before:0;
	font-size: 26px;
	font-weight: bold;
	color: #fbb03b;
}

ul.qtr_pics .pic_container.selected p,
ul.qtr_pics .pic_container.selected a,
.pic_container.selected:hover > a .pic_title p{
    color: white;
}

div#allpage ul.qtr_pics li.selected .pic_title,
div#allpage1 ul.qtr_pics li.selected .pic_title,
div#allpage2 ul.qtr_pics li.selected .pic_title,
div#allpage3 ul.qtr_pics li.selected .pic_title,
div#allpage4 ul.qtr_pics li.selected .pic_title,
div#allpage5 ul.qtr_pics li.selected .pic_title{
	background-color: #fbb03b;
}

div#allpage ul.qtr_pics li.selected .pic_title{
	background-color: #fbb03b;
	box-shadow: 0 0 10px #ffffff;
	-webkit-transition-property: background-color, box-shadow; 
	-webkit-transition-duration: 0.4s;
}
div#revelle ul.qtr_pics li.selected .pic_title{
	background-color: #016691;
	box-shadow: 0 0 10px #ffffff;
	-webkit-transition-property: background-color, box-shadow; 
	-webkit-transition-duration: 0.4s;
}
div#erc ul.qtr_pics li.selected .pic_title{
	background-color: #016691;
	box-shadow: 0 0 10px #ffffff;
	-webkit-transition-property: background-color, box-shadow; 
	-webkit-transition-duration: 0.4s;
}
div#warren ul.qtr_pics li.selected .pic_title{
	background-color: #651818;
	box-shadow: 0 0 10px #ffffff;
	-webkit-transition-property: background-color, box-shadow; 
	-webkit-transition-duration: 0.4s;
}
div#marshall ul.qtr_pics li.selected .pic_title{
	background-color: #b00606;
	box-shadow: 0 0 10px #ffffff;
	-webkit-transition-property: background-color, box-shadow; 
	-webkit-transition-duration: 0.4s;
}
div#muir ul.qtr_pics li.selected .pic_title{
	background-color: #006633;
	box-shadow: 0 0 10px #ffffff;
	-webkit-transition-property: background-color, box-shadow; 
	-webkit-transition-duration: 0.4s;
}
div#sixth ul.qtr_pics li.selected .pic_title{
	background-color: #009899;
	box-shadow: 0 0 10px #ffffff;
	-webkit-transition-property: background-color, box-shadow; 
	-webkit-transition-duration: 0.4s;
}
ul.qtr_pics li.selected .pic2 img,
ul.qtr_pics li:hover .pic2 img{
	visibility: visible;
	-webkit-transition-property: visibility; 
	-webkit-transition-duration: 0.4s;
}

.qtr_pics,
.event-pics{
	text-align: center;
	float: left;
	margin: auto 0;
	width: 940px;
}

.pic2 img{ visibility: hidden;}

.eventpic-container{
	display: inline-block;
	position:relative;
	/*background-color: pink;*/
	border-radius: 0;
	margin: 0;
	float: left;
	margin: 20px 10px 20px 0;
}

.eventpic-container img{
	width: 178px; height: 130px;
}

.eventpic-container:hover  img{
	margin-top: 0;
	opacity: 0.65;
	/* background-color: rgba(40,40,40,0.8); */
	box-shadow: 0 0 10px #444444;
	-webkit-transition-property: opacity, box-shadow; 
	-webkit-transition-duration: 0.4s;
}

